<div class="main-content">
  <!-- <div> -->
  <mat-selection-list #options [multiple]="false">
    <div class="list__header"><span class="list__header__span">Elementy:</span></div>
    <mat-list-option  [value]="'Nowa tabela'">
      <button (click) = gmc.addTable()> Nowa tabela </button>
    </mat-list-option>
    <mat-list-option  [value]="'Nowa relacja'">
      <button (click) = gmc.addRelation()>Nowa relacja</button>
    </mat-list-option>
    <mat-list-option  [value]="'Dziedziczenie'">
      <button (click) = gmc.addInheritance()>Dziedziczenie</button>
    </mat-list-option>
  </mat-selection-list>
  <div class="rightSide">
    <app-graphical-modeling ></app-graphical-modeling>
    <app-script-view></app-script-view>
  </div>
  <!-- </div> -->
</div>
